.Rproj.user
.Rhistory
.RData
.Ruserdata
api_key.txt
*.rds
*.html
question_on_fee_tbl_Collect_without_remove_is_where.txt
rsconnect/documents/eth_usdc_retroactive.Rmd/science.flipsidecrypto.xyz/carlos_mercado/eth_usdc_retroactive.dcf
